/* 
    Document   : mabharatistyle
    Created on : May 7, 2013, 9:28:02 AM
    Author     : hemant
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
p{
    color: #246BB2;
}
.safroncolor{color: #85ADFF;
             background-image: url(/res/image/home.jpg);
}
a.login{
    float: right; margin-right: 10px
}

.tricolor{
    background: linear-gradient(to bottom, #FFFFFF, #B2D1FF);
}

.menulink{
    text-decoration:none;
}